<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
    <%= render @users %>
</ul>

<%= will_paginate %>

<%-# this is a comment block below-%>
         <%# @users.each do |user| %>
           <%#li%>
             <%#= gravatar_for user %>
             <%#= link_to user.name, user %>
           <%#/li%>
       <%-# end-%>
    <%#end of comment-%>
 <%-# rails se tu dong tim den partical _user.html.erb ma chung ta phai tu tao ra -%>
